.main
{
  background-color: #E8F6EF;
  position: relative;
  padding-top: 100px;

}
body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
    color: #40514E;
}
h1
{
  margin: 50px auto 0 auto ;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  color: #66BFBF;
}
h2
{
    font-size: 2.50rem;
      color: #66BFBF;
      font-weight: normal;

}
h3
{
  color: #11999E;
}
a{
  color:  #11999E;
}
.skill-row
{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;


}
p
{
    line-height: 2;
}
.topcloud
{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottomcloud
{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.profilepicture
{
  height: 100px;
  width: 100px;
}
.skill1
{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill2
{
  width: 25%;
  float: right;
    margin-left: 30px;
}
.middle-container
{
  padding-top: 100px ;
  padding-bottom: 100px;
  background-color: #F7F6F2;
}
.bottom-container
{
  background-color: #66BFBF;
  padding: 60px 0 20px;
}
.copy
{
  color: #eaf6f6;
  font-size:0.75rem;
}
hr
{
  border: dotted  #4A403A 6px;
  width: 4%;
border-bottom: none;
margin: 70px auto ;
}

a
{
  color: #11999E;
  font-family: 'Merriweather',serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}
a:hover
{
  color: #eaf6f6;
}
.intro
{
  width: 30%;
  margin:auto;
}
.contact-message
{
  width: 40%;
  margin:40px auto 40px auto;
}
.pro
{
  text-decoration: underline;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat' sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
